form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: auto;
    max-width: 600px;
}

form label {
    margin-bottom: .5rem;
}

form input, textarea {
    margin-bottom: 1rem;
    padding: .8rem;
    background-color: rgba(255, 255, 255, .1);
    color: #eee;
    font-family: 'Outfit', sans-serif;
    font-size: 1.2rem;
    border: 1px solid #2e2e2e;
    outline: none;
}