@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #eee;
    font-family: 'Outfit', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #eee;
}

.btn {
    padding: 12px 32px;
    font-size: 1.2rem;
    text-transform: uppercase;
    background: transparent;
    color: #eee;
    border: 1px solid #eee;
    cursor: pointer;
}

.btn-light {
    background: rgba(255, 255, 255, 0.2)
}

.btn:hover {
    background: rgba(255, 255, 255, 0.2)
}